/* Moves the corresponding cards to right and left sides */
header h1 {
    color:black
}

.black-text {
    color: black;
}

/* Added this to keep the two different sections matching in height. Would have used an additional class instead of a universal selector but these are the only sections in the application. */
section {
    height: 100px;
}

body {
    color: black;
}

footer {
    height: 150px;
}

.footerContainer {
    padding-bottom: 20px;
}

body {
    background-color: grey;
}